:root { 
    font-family: system-ui, Arial, sans-serif; 
}
body { 
    margin: 0; 
    padding: 2rem; 
    background: #27023f; 
}
.container { 
    max-width: 57rem; 
    margin: auto; 
    color: white;
    padding: 1.5rem; 
    border-radius: 5%; 
    box-shadow: 0 8px 24px rgba(0,0,0,0.08); 
    background-color: rgb(126, 78, 145);
}
label { 
    display: block; 
    margin: 0.5rem 0 0.25rem; 
}
input, select, button {
    padding: 0.6rem; 
    border-radius: 10px; 
    border: 1px solid #ddd; 
    width: 100%; 
    box-sizing: border-box; 
}
button { 
    cursor: pointer; 
    border: none; 
    background: #111; 
    color: #fff; 
    font-weight: 600; 
}
button:hover { 
    opacity: 0.9; 
}
.table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 1rem; 
}
.table th, .table td { 
    border: 1px solid #e5e5e5; 
    padding: 0.6rem; 
    text-align: left; 
}
.small { 
    font-size: 0.9rem; 
}
.notice { 
    background-color: rgb(122, 100, 156); 
    padding: .75rem; 
    border-radius: 12px; 
    border: 1px solid #cfe4ff; 
}
.center { 
    text-align: center; 
}
a{
    text-decoration: none;
    color: white;
}
.container-menu{
    width: 95%;
    background-color: #8a5ca8;
    color: white;
    padding-left: 0.5rem;
    border-radius: 5%;
}
li{
    padding-bottom: 1rem;
}
